{% load static %}
<!DOCTYPE html>
<html lang="ru"></html>
<head>
    <meta charset="UTF-8">
    <title>Корреляция инструментов</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .menu-item {
            display: block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            background-color: rgb(245, 246, 250);
            border-bottom: 1px solid #ccc;
        }

        .menu-item:hover {
            background-color: #ddd;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>FindCorr</h1>
        </div>
        <div class="content", id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>FindCorr© 2023</p>
    </div>
</body>
</html>