{% extends 'db/base.html' %}

{% block content %}
    <form method="GET" class="form-container">
        <div class="search-form">
            <input type="text" name="q" class="search-input" placeholder="Поиск по тикеру" value="{{ request.GET.q }}">
            <input type="submit" value="🔍">
        </div>
        <div class="dropdown">
            <label for="industry">Отрасль:</label>
            <select id="industry" name="industry" onchange="this.form.submit()">
                <option value="">
                    {% if request.GET.industry %}
                        {{ request.GET.industry }}
                    {% else %}
                        Все
                    {% endif %}
                </option>
                {% for industry in industries %}
                    {% if forloop.first and request.GET.industry %}
                        <option value="">Все</option>
                    {% endif %}
                    <option value="{{ industry }}" {% if request.GET.industry == industry %}selected{% endif %}>{{ industry }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="ticker-count-info">
            Доступно: {{ correlations.paginator.count }}
        </div>
    </form>
    <table>
        <tr>
            <th>Тикер A</th>
            <th>Название A</th>
            <th>Отрасль A</th>
            <th>Тикер Б</th>
            <th>Название Б</th>
            <th>Отрасль Б</th>
            <th>Корреляция %</th>
            <th>Статус</th>
        </tr>
        {% for group in correlations %}
        <tr>
            <td class="bold">{{ group.ticker_a }}</td>
            <td>{{ group.name_a }}</td>
            <td>{{ group.sector_a }}</td>
            <td class="bold">{{ group.ticker_b }}</td>
            <td>{{ group.name_b }}</td>
            <td>{{ group.sector_b }}</td>
            <td>{{ group.correlation }}</td>
            <td class="status {% if group.status == 'Слабая' %}weak{% elif group.status == 'Средняя' %}medium{% elif group.status == 'Сильная' %}strong{% endif %}">{{ group.status }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {% if correlations.has_previous %}
            <a class="pagination-button" href="?page={{ correlations.previous_page_number }}&industry={{ selected_industry }}">←</a>
        {% endif %}
    
        {% for i in correlations.paginator.page_range %}
            {% if correlations.number == i %}
                <a class="pagination-button current" href="?page={{ i }}&industry={{ selected_industry }}">{{ i }}</a>
            {% elif i > correlations.number|add:"-5" and i < correlations.number|add:"5" %}
                <a class="pagination-button" href="?page={{ i }}&industry={{ selected_industry }}">{{ i }}</a>
            {% elif i == 1 %}
                <a class="pagination-button" href="?page={{ i }}&industry={{ selected_industry }}">{{ i }}</a>
                {% if correlations.number > 6 %}
                    <span class="pagination-ellipsis">...</span>
                {% endif %}
            {% elif i == correlations.paginator.num_pages %}
                {% if correlations.number|add:"5" < correlations.paginator.num_pages %}
                    <span class="pagination-ellipsis">...</span>
                {% endif %}
                <a class="pagination-button" href="?page={{ i }}&industry={{ selected_industry }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    
        {% if correlations.has_next %}
        <a class="pagination-button" href="?page={{ correlations.next_page_number }}&industry={{ selected_industry }}">→</a>
        {% endif %}
    </div>
{% endblock %}